---
import Layout from '../layouts/Layout.astro';
import SiteMaintenance from '../components/templates/SiteMaintenance.astro';
---

<Layout>
	<h1>Hola mundo</h1>
	<p>Hola diablo</p>
	<SiteMaintenance />
</Layout>
