---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    

    <section id="quien-soy" class="min-h-screen flex flex-col justify-center items-center bg-white px-6">
      <h2 class="text-4xl font-semibold mb-4 text-gray-800">Proyectos</h2>
      <p class="max-w-2xl text-center text-gray-600">Soy</p>
    </section>
    </Layout>
  