---
---
<footer class="bg-gray-900 text-gray-300 py-6 mt-12">
  <div class="max-w-6xl mx-auto px-6 text-center space-y-2">
    <p>&copy; 2025 Sofía García | Todos los derechos reservados</p>
    <div class="flex justify-left space-x-4"><!--justify-center-->
      <a href="https://github.com/sof093" target="_blank" class="hover:text-white">GitHub</a>
      <a href="sofia:sofiag0029@gmail.com" class="hover:text-white">Correo</a>
      <a href="7122173892" class="hover:text-white">Telefono</a>
    </div>
  </div>
</footer>
<style>
  footer {
    backdrop-filter: blur(10px);
  }
</style>