---
import home from "../../assets/home.png";
import moon from "../../assets/moon.png";
---

<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap"
  rel="stylesheet"
/>

<nav class="navbar">
  <div class="contenedor-navbar">
    <a href="/" class="logo-con-icono">
      <img src={home.src} alt="inicio" class="icono" />
      <h1 class="logo">Sofia</h1>
    </a>

    <div class="menu-y-toggle">
      <ol class="menu">
        <li><a href="/inicio" class="link">Sobre mí</a></li>
        <li><a href="/habilidades" class="link">Habilidades</a></li>
        <li><a href="/proyectos" class="link">Proyectos</a></li>
        <li><a href="/contacto" class="link">Contacto</a></li>
      </ol>

      <button id="theme-toggle" class="theme-toggle" aria-label="Cambiar tema">
        <div class="knob">
          <img id="theme-icon" src="/moon.png" alt="Icono del tema" />
        </div>
      </button>
    </div>
  </div>
</nav>

<style>
  :root {
    --lavanda-claro: #e8dcf4;
    --lavanda-medio: #dbd1e9;
    --lavanda-profundo: #989bbe;
    --lavanda-gris: #cdc6e1;
    --lavanda-claro: #8d21f9;
    --lavanda-medio: #350479;

    --texto-oscuro: #480366;
  }

  .contenedor-navbar {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0.8rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 2rem;
    list-style: none;
  }
  .menu-y-toggle {
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }

  .logo-con-icono {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    text-decoration: none;
    align-items: left;
  }

  .icono {
    width: 22px;
    height: 22px;
    display: block;
  }

  .link {
    text-decoration: none;
    color: var(--texto-oscuro);
    font-weight: 600;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    position: relative;
    transition: color 0.3s ease;
  }

  .link::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--lavanda-claro);
    transition: width 0.3s ease;
    border-radius: 2px;
  }

  .link:hover {
    color: var(--lavanda-medio);
  }

  .link:hover::after {
    width: 100%;
  }

  @media (max-width: 768px) {
    .menu {
      gap: 1.2rem;
    }
    .logo {
      font-size: 1.5rem;
    }
  }
</style>
